<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="../styles/tablet.css" media="screen and (min-width: 768px)">
    <link rel="stylesheet" href="../styles/desktop.css" media="screen and (min-width: 1080px)">
    <title>Log in | Trading Diaries</title>
</head>
<body>
    <header>
        <div class="header-container">
            <nav>
                <div class="h1-container">
                    <h1>
                        Trading Diaries
                    </h1>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="login-container">
            <h2>
                Log in
            </h2>
            <form action="">
                <label for="email">Email </label>
                <input type="email" name="email" id="login-email"> <br />
                <label for="password">Password </label>
                <input type="password" name="password" id="login-password"> <br />
                <input type="button" value="Log in" class="login-button">
            </form>
        </div>
    </main>
    <script type="module" src="../../src/index.js"></script>
</body>
</html>